.main_box{
    margin-left: 5px;
    border: 1px solid #d7d7d7;
    border-radius: 10px;
    width: 580px;
    height: 100%;
}
.options_box{
    margin-top: 10px;
    width: 580px;
}

.board{
    margin-top: 30px;
    margin-left: 20px;
    width: 500px;
    height: 400px;
}
.board_list{
    margin-bottom: 15px;
    width: 450px;
    height: 30px;
    border-bottom: 1px solid #d7d7d7;
    line-height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: lighter;
}
.num{
    font-weight: normal;
    font-size: 0.8rem;
    color: #3c3c3c;
}

.board_bottom{
    width: 100%;
    height: 50px;
}
.btn_box{
    width: 150px;
    height: 50px;
}
.writing{
    background-color: #278eff;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-size: 13px;
    font-weight: normal;
    color: #ffffff;
    width: 90px;
    height: 25px;
}

.goToDisplay_box{
    width: 120px;
    height: 25px;
}
.goToDisplay{
    display: block;
    color: #2a2a2a;
    font-weight: lighter;
    font-size: 0.7rem;
}

.board_bottom a{color: #2a2a2a;text-decoration: none;}
.board_bottom a:visited{color: #2a2a2a;}
.container {display: inline-block;position: relative;padding-left: 16px;margin-bottom: 12px;cursor: pointer;font-size: 0.7rem;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.container input {position: absolute;opacity: 0;cursor: pointer;}
.checkmark {position: absolute;top: 0;left: 0;height: 15px;width: 15px;background-color: #eee;}
.container:hover input ~ .checkmark {background-color: #ccc;}
.container input:checked ~ .checkmark {background-color: #278eff;}
.checkmark:after {content: "";position: absolute;display: none;}
.container input:checked ~ .checkmark:after {display: block;}
.container .checkmark:after {left: 5px;top: 3px;width: 2px;height: 4px;border: solid white;border-width: 0 2px 2px 0;-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);}